<!DOCTYPE html>
<head>
    <title>Laconian Gulf</title>
    <!-- Leaflet CSS code -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
        crossorigin=""/>

    <!-- Leaflet JS code -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        crossorigin=""></script>

    <!-- Map position -->
    <style>
        #map {position: absolute; top: 0; bottom: 0; left: 0; right: 0;}
    </style>
</head>
<body>
    <div id = "map"></div>
   
    <script>
        
        // Initiate map set to the Laconian Gulf 
        var map = L.map('map').setView([36.492338, 22.703036], 10);

        // Link to OpenStreetMap and settings 
        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 13,
            minZoom: 9,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);


        // Create point marker
        var marker = L.marker([36.492338, 22.703036]).addTo(map);

        // Link text popup to the marker
        marker.bindPopup("{{message}}");
        
        
        /*
        // Connect to AISStream websocket
        const socket = new WebSocket("wss://stream.aisstream.io/v0/stream")

        // TODO: websocket not connecting due to cross-origin resource sharing
        // Send subscription message, check if connection exists
        socket.onopen = function (_) {
            let subscriptionMessage = {
                Apikey: "3c82996c4984bb95afc17ada12dd4c193c6c47ea",
                BoundingBoxes: [[[51.102208240579394, 1.2931131313767414], 
                [50.924224106708884, 1.6884637196975534]]],
            }
            socket.send(JSON.stringify(subscriptionMessage));
            
            if (socket.readyState === WebSocket.OPEN) {
                console.log('WebSocket is active and ready to communicate.');
            } else {
                console.log('WebSocket is not active.');
            }
        };

        // Print AIS messages
        socket.onmessage = function (event) {
            let aisMessage = JSON.parse(event.data)
            console.log(aisMessage)
        }
        */
       
    </script> 

</body>